.search-title {
    padding: 5px 10px;
    color: rgba(22, 24, 35, 0.5);
    font-size: 1.4rem;
    font-weight: 600;
}

.search {
    width: 361px;
    height: 46px;
    display: flex;
    position: relative;
    border-radius: 90px;
    background-color: rgba(22, 24, 35, 0.06);
    border: 1px solid transparent;

    input {
        flex: 1;
        height: 100%;
        color: #828282;
        font-size: 1.6rem;
        caret-color: var(--primary);
        padding-left: 16px;
        background: transparent;
    }

    &:focus-within {
        border-color: rgba(22, 24, 35, 0.2);
    }

    &::after {
        content: '';
        position: absolute;
        width: 1px;
        height: 28px;
        top: 9px;
        right: 52px;
        background-color: rgba(22, 24, 35, 0.12);
    }

    input:not(:placeholder-shown) ~ .search-btn {
        color: rgba(22, 24, 35, 0.75);
    }
}

.search-result {
    width: 361px;
}

.search-clear-btn,
.loading-icon {
    position: absolute;
    right: 65px;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(22, 24, 35, 0.34);
}

.search-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 100%;
    font-size: 1.8rem;
    color: rgba(22, 24, 35, 0.34);
    background: transparent;
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
        cursor: pointer;
    }

    &:active {
        background-color: rgba(22, 24, 35, 0.06);
    }
}
